:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #25292c;
  color: #ffffffde;
  color-scheme: dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #293035;
  margin: 0;
  min-width: 320px;
}

.dropdown-toggle-split {
  background-color: #41d5f5 !important;
  color: white;
}
.dropdown-menu {
  background-color: #2b2a33 !important;
  top: 2.5rem;
  max-width: min-content;
}

.dropdown-item {
  color: white !important;
  text-align: center;
}
.dropdown-item:hover {
  background-color: #1b1a20 !important;
  color: #41d5f5 !important;
}
.section-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.nav-dot {
  background-color: #41d5f5;
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  transition: background-color 0.3s;
  width: 12px;
}

.nav-dot:hover {
  background-color: #fff;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: fit-content;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.page,
h1 {
  margin-top: 10vh;
}
.controls-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Align items vertically */
  align-items: center;
  gap: 10vw;
}

.back-button-container {
  display: flex;
  align-items: center;
}

.page {
  align-items: center;
  display: flex;
}

.page {
  flex-direction: column;
  justify-content: center;
  max-height: fit-content;

  overflow-x: hidden;
  text-align: center;
  width: 100%;
}

h1 {
  color: #f0f8ff;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  max-height: fit-content;
  max-width: 80vw;
  min-width: 80vw;
  padding: 0;
  width: 100%;
}

.card {
  align-items: center;
  background-color: #2b2a33;
  border: 1px solid #41d5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
  margin: 2vh;
  padding: 1rem;
  width: 16rem;
}

.card .btn {
  display: inline-block;
  text-decoration: none;
}

.card .btn:active {
  background-color: #005f73;
}

.category-image {
  border-radius: 8px;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.card-img-top {
  height: auto;
  max-width: 250px;
  width: 100%;
}

.back-button-container {
  text-align: left;
}

.back-button {
  align-items: center;
  background-color: #41d5f5;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  padding: 8px 16px;
  transition: background-color 0.2s ease;
}

.back-button svg {
  margin-right: 8px;
}

.subm-btn {
  background-color: #00a7da;
}

.subm-btn:hover {
  background-color: #3d395c;
}

.category-list {
  border-radius: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 80vw;
  min-width: 80vw;
}

.pagination {
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.card .btn,
.pagination button {
  background-color: #00a7da;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  padding: 8px 12px;
  transition: background 0.3s;
}

.pagination button.active {
  background-color: #0382a8;
  font-weight: 700;
}

.pagination button:disabled {
  background-color: #5c7a83;
  cursor: not-allowed;
}

.navbar {
  box-shadow: 0 2px 4px #0000001a;
  transition: box-shadow 0.3s ease-in-out;
}

.navbar-nav .nav-link {
  color: #fff;
  padding: 0.5rem 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link::after {
  background-color: #41d5f5;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  width: 0;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-link.active {
  color: #41d5f5 !important;
  font-weight: 700;
}

.navbar-nav .nav-link.active::after {
  background-color: #41d5f5;
  width: 100%;
}

.navbar-nav .nav-link:hover svg {
  transform: scale(1.2);
}

.navbar-toggler {
  border: 0;
  outline: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  transform: rotate(90deg);
}

.navbar-collapse {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.navbar-collapse.collapsing {
  max-height: 0;
}

.navbar-collapse.show {
  max-height: 500px;
}

.section {
  background-color: #212224;
  border-radius: 2vh;
  height: fit-content;
  margin: 1vh;
  max-width: 80vw;
  min-width: 80vw;
  padding: 0;
}

.biography-image-container {
  border-radius: 3vh;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.biography-image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: #1414144d;
  color: #ccc;
  width: 5%;
}

.card h3,
.carousel-control-next-icon,
.carousel-control-prev-icon,
h2,
p {
  color: #fff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.back-button:hover,
.card .btn:hover {
  background-color: #3d395c;
}

.navbar-nav .nav-link svg,
.navbar-toggler-icon {
  transition: transform 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #293035;
    color: #213547;
  }
}
@media (max-width: 786px) {
  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .card {
    width: 10rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0vh;
  }
}
