:root {
  --bg-color: #303438 !important;
  --text-color: #ffffff !important;
  --bs-info: #3498db !important;
}
.text-info {
  color: #3498db !important;
}

.bg-info {
  background-color: #3498db !important;
  color: white !important;
}

.btn-info {
  background-color: #3498db !important;
  border-color: #3498db !important;
  color: white !important;
}

.btn-info:hover {
  background-color: #2d80b3 !important; /* slightly darker hover */
  border-color: #2d80b3 !important;
}
body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f3fafb !important;
    --text-color: #201f1f !important;
  }
  .bg-dark {
    background-color: #e0eef8 !important;
  }
  .table-dark {
    color: #e0eef8 !important;
  }
  .text-light {
    color: var(--text-color) !important;
  }
  .info {
    color: #000 !important;
    background-color: #000000 !important;
  }
  .btn-dark {
    background-color: #e0eef8 !important;
  }
  .table-dark {
    --bs-table-bg: #e0eef8 !important; /* Background */
    --bs-table-color: #201f1f !important; /* Text color */
    --bs-table-border-color: #dee2e6 !important; /* Borders */
    --bs-table-hover-bg: #cbe0ee !important;
    --bs-table-hover-color: #201f1f !important;
  }
}

.carousel-indicators button {
  min-height: 12px !important;
}
.carousel-indicators .active {
  background-color: #41d5f5 !important;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.2) !important;
  width: 5rem !important;
  height: 100% !important;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
/* Bootstrap overrides for light mode */
body.light-theme .bg-dark {
  background-color: #e0eef8 !important;
}

body.light-theme .table-dark {
  color: #e0eef8 !important;
}

body.light-theme .text-light {
  color: var(--text-color) !important;
}

body.light-theme .btn-dark {
  background-color: #e0eef8 !important;
}
body.dark-theme {
  --bg-color: #303438;
  --text-color: #ffffff;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

/* Light theme styles */
body.light-theme {
  --bg-color: #f3fafb;
  --text-color: #201f1f;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

/* For explicit theme classes */
body.light-theme .table-dark {
  --bs-table-bg: #e0eef8 !important;
  --bs-table-color: #201f1f !important;
  --bs-table-border-color: #dee2e6 !important;
  --bs-table-hover-bg: #cbe0ee !important;
  --bs-table-hover-color: #201f1f !important;
  --bs-table-striped-bg: #cfe4f3 !important;
  --bs-table-striped-color: #201f1f !important;
}

body.dark-theme .table-primary {
  --bs-table-bg: #1d2229 !important;
  --bs-table-color: #ffffff !important;
  --bs-table-border-color: #4c5b6a !important;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #198754 !important;
  color: white !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #dc3545 !important;
  color: white !important;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  color: black !important;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  background-color: #ffc107 !important;
  color: black !important;
}
